body{
    background-color:beige;
}
.box-1{
    width: 50%;
    height: 200px;
    border: 1px solid black;
    border-top-width: 5px;
    border-style: dotted;
    border-top-color: aqua;
    padding: 25px 10px 50px 100px;
    margin: 25px 20px;

}
.box-1-a{
    border: 1px solid red;
    width: 50%;
    background-color: aliceblue;
    padding: 15px;
}