@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: #F9EEEE;
    font-family: "Inter", sans-serif;
    
}
main{margin:0 auto;
    margin-top: calc((100vh - 215px) / 2);
    text-align: center;
    width: min(100%,670px);
}
h1{
    Font-size: 40px;

}
p{
    Font-size:18px;
    line-height: 1.7em;
}