@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #F9EEEE;
    font-family: "Inter";
}

section {
    width: min(100%, 670px);
    margin: 0 auto;
    text-align: center;
    margin-top: calc((100vh - 217px) / 2);
}
h2 {
    font-size: 40px;
}

p {
    font-size: 18px;
    line-height: 1.6em;
}