@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #e3e7eb;
    font-family: "Roboto", system-ui;
}

.card-outer{
    width: 485px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.card-outer img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card-content{
    padding:45px 35px;  
}

.card-content .pill{
    padding: 5px 10px;
    color: #2b8043;
    border: 1px solid #caf1d4;
    background-color: #f1fef7;
    border-radius: 10px;
}
.card-content .pill:first-child{
    margin-right: 5px;
}

.card-content h2{
    font-weight: 500;
    margin: 25px 0 35px 0;
    font-size: 28px;
}

.card-content p{
    color: #5a5a5a;
    line-height: 1.6em;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 400;
}

.card-content footer a{
    color:#4939b5;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: #e3e7e;
    visibility: hidden;
}

.card-content footer a:hover{
    text-decoration: underline;
}

.card-content:hover footer a{
    visibility: visible;
}

.card-content footer a i{
    margin-left: 10px;
}

.modal-overlay{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 6;
}

.chat-icon{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    right:10px;
    bottom:10px;
}