

section{
    padding: 20px 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap

}

.box {
    font-size: 50px;
    background-color: green;
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: calc((100% - 45px) / 4);
    box-sizing: border-box;
}

@media screen and (max-width:1200px) {
    .box{
        width: calc((100% - 30px) / 3);
        background-color: red;
    }
}

@media screen and (max-width:800px) {
    .box{
        width: calc((100% - 15px) / 2);
    }
}

@media screen and (max-width:500px) {
    .box{
        width: 100%;
    }
}

.mobile{
    padding: 15px 0;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

.mobile-box{
    background-color: blue;
    color: white;
    font-size: 80px;
    border-radius: 10px;
    padding: 15px;
}

@media screen and (min-width: 600px){
    .mobile{
        flex-direction: row;
    }
    .mobile-box{
        width: calc((100% - 15px)) / 2;

    }
}

@media screen and (min-width: 800px) and (max-width:1000px) {
    .mobile-box{
        width: calc((100% - 30px)) / 3;

    }
}

@media screen and (min-width: 1200px){
    .mobile-box{
        width: calc((100% - 45px)) / 4;

    }
}