body{
    background-color: aliceblue;
}
.container{
    background-color: aqua;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) /*200px 300px 250px 200px*/;
    grid-template-rows: [first]100px [second]200px 300px;
    grid-template-areas: 
        " header header . ."
        "left-column main main right-column"
        "footer footer footer footer"
    ;
}
.item{
    background-color: black;
    padding: 10px;
    border: 1px solid white;
    color: white;
}
.item-1{
    grid-area: header;
    background-color: blue;

}
.iotem-3{
    background-color: blueviolet;
    grid-area: left-column;
}
.item-2{
    grid-area: main;
    background-color: green;
}
.item-10{
    background-color: red;
    grid-area: 2/3/4/5;

}
.calculator-grid{
    display: grid;
    width: 365px;
    height: 249px;
    gap: 7px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 2fr repeat(4,1fr);
    margin: 15px;
}
.calculator-grid input[type="text"]{
    grid-area: 1/1/2/5;
    border-radius: 5px;
    border: 1px solid #000;
}
.calculator-grid button{
    font-size: 12;
    border: none;
    border-radius: 3px;
    background-color: #eff1f2;
}
.calculator-flex{
    width: 365px;
    height: 249px;
    gap: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}