h1 {
    font-size: 100px;
    color: blue;
}

p {
    font-size: 100px; 
    color: blue;
}

.red-text {
    color: red;
}

#gray-list {
    font-size: 18px; 
    color: gray; 
    font-style: italic
}