@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
body{
    font-family: "Georgia, 'Times New Roman', Times, serif";
    font-size: 18xp;

}
h1,h2,h3,h4{
    font-family: "Bungee Tint", sans-serif;
}
h1{
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    font-style: italic;
}
h2{ text-align: right;
    text-decoration: underline;
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
p{
    line-height: 2em;
    font-variant: small-caps;
    letter-spacing: 2px;
    text-indent: 50%;
    color: blue;
}